// COLORS
$container-border-color: rgba(0, 0, 0, 14%);
$section-border-color: rgb(234, 234, 234);

$input-border-color: rgb(153, 153, 153);
$input-active-border-color: rgb(51, 105, 243);
$input-error-color: rgb(255, 47, 47);

$button-text-color: rgb(255, 255, 255);
$button-primary-text-color: rgb(51, 105, 243);
$button-primary-background-color: rgb(51, 105, 243);

$placeholder-color: rgb(153, 153, 153);
$main-text-color: rgb(30, 30, 30);

