@use 'styles-variables' as variables;

.chats__chat-header {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  margin: 0 20px;
  width: calc(100% - 40px);
  min-height: max-content;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid variables.$section-border-color;
}

.chats__context-menu {
  margin-left: auto;
}
