<main
class="page page--centered error">
  <div
  class="error__content">
    <h1
    class="error__code">
      {{errorCode}}
    </h1>

    <h2
    class="error__message">
      {{errorMessage}}
    </h2>

    <a
    class="error__link-message">
      {{linkMessage}}
    </a>
  </div>
</main>
