<main
class="page chats">
  <section
  class="chats__section chat-list">
    Да-да, тут когда то будут чаты...
  </section>

  <section
  class="chats__section chat-messages">
    А тут возможно и переписка ...
  </section>
</main>
