@forward './components/index.scss';
@use 'styles-variables' as variables;

.chats {
  flex-direction: row;
}

.chats__section {
  display: flex;
  flex-direction: column;
  color: variables.$main-text-color;
  font-size: 16px;
  line-height: 18px;
}

.chat-messages {
  flex-grow: 1;
}

.chats__image-container {
  width: 47px;
  height: 47px;
  min-width: 47px;
  border-radius: 50%;
  background-color: variables.$main-background;
  margin-right: 10px;
}

.chats__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
