@use 'styles-variables' as variables;

.button {
  width: 100%;
  height: 37px;
  background-color: transparent;
  border: none;
  color: variables.$main-text-color;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}

.button--fill {
  background-color: variables.$primary-color;
  color: variables.$button-text-color;
}

.button--text,
.button--text--active,
.button--text--danger {
  background-color: transparent;
  width: max-content;
  height: max-content;
}

.button--text--active {
  color: variables.$primary-color;
}

.button--text--danger {
  color: variables.$danger-color;
}

.button__icon {
  margin-left: 8px;
}
